.main-page-container {
    background-image: url('/assets/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

a {
    font-family: 'Jersey 20', sans-serif;
    font-size: 35px;
    text-decoration: none !important;
    color: white !important;
    background-color: #4971B4;
    border-radius: 20px
}

.person-container{
    background-color: white;
    border-radius: 20px;
}

.container{
    background-color: #E8F1FF;
    width: fit-content !important;
    border-radius: 20px;
}

h1{
    font-family: 'roboto condensed';
    color: #C85332 !important;
    font-size: 30px !important;
}

h3, p{
    font-family: 'inter';
    color: #032B6F !important;
    font-size: 18px !important;
}