.background-container {
    background-image: url('/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}

.btn-regresar-encabezado {
    position: absolute;
    left: 270px;
    top: 140px;
}

.input-matricula {
  max-width: 500px;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 0.75rem;
  font-size: 1.1rem;
  box-shadow: none;
  outline: none;
  margin: 0 auto;
}

  .codigo-box {
    background-color: white;
    color: #4E79A7;
    font-weight: bold;
    font-size: 1.9rem;
    border-radius: 10px;
    padding: 0 1rem;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position:absolute;
    top: 140px;
    right: 270px;
  }