.background-container {
    background-image: url('/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}

.btn-reg {
    position: absolute;
    top:120px;
    left: 230px;
    background-color: #92B3E6;
    color: white;
    font-family: 'Jersey 20', sans-serif;
    font-size: 1.6rem;
    padding: 0rem 1rem;
    border-radius: 16px;
    border: 5px solid #6B95D6;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
}

.btn-regresar-encabezado {
  background-color: #92B3E6;
  color: white;
  font-family: 'Jersey 20', sans-serif;
  font-size: 1.6rem;
  padding: 0rem 1rem;
  border-radius: 16px;
  border: 5px solid #6B95D6;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  margin-left: -35px; /* Adjust this value to align further left */
}

.input-matricula {
  max-width: 500px;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 0.75rem;
  font-size: 1.1rem;
  box-shadow: none;
  outline: none;
  margin: 0 auto;
}

  .codigo-box {
    background-color: white;
    color: #4E79A7;
    font-weight: bold;
    font-size: 1.9rem;
    border-radius: 10px;
    padding: 0 1rem;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }